<article class="contentContainer contentArea highlightArea">
    <header class="contentArea__header">
        <h1 class="contentArea__headerTitle"><%- page.title %></h1>
    </header>
    <%- page.content %>
</article>
    