*,
&:before,
&:after
	box-sizing: border-box

html
	margin: 0
	padding: 0
body
	margin: 0
	padding: 0
	background: #f3f3f3
	font-family: sans-serif
main
	padding-top: rem(70px)
	min-height: calc('100vh - 71px')

.font-lato
	font-family: 'Lato', sans-serif

.title-weight
	font-weight: 800

.standard-transition
	transition: all .4s ease-in-out

.overlay
	position: fixed
	width: 100%
	height: 100%
	top: 0
	right: 0
	pointer-events: none
	@extend .standard-transition
	background: transparent
	&.active
		z-index: 20
		background: rgba(#000, .5)
		pointer-events: auto
a
	color: inherit
	text-decoration none !important
.fa
	&:before
		font-family: FontAwesome