.menu-list
	text-align: center
	+below(700px)
		width 100%
	ul
		list-style: none
		font-family: 'Lato', sans-serif
		padding 0
		text-align: center
	li
		font-family: inherit
		display: inline-block
		margin-left: 15px;
	a
		font-family: inherit
		font-size: rem(18px);
