.type-post
	//padding-bottom: 30px

.card-list
	max-width: 50rem
	padding: rem(50px) .938rem rem(30px) .938rem
	margin: 0 auto 1.875rem
	.card-item
		&:last-child
			.card-body
				border-bottom: 0
				margin-bottom: 0 !important
				padding-bottom: rem(15px)
	.card-body
		position: relative
		padding-left: rem(125px)
		margin-bottom: rem(60px)
		padding-bottom: 70px
		border-bottom: 1px solid #ddd

		.tags
			a
				display: inline-block
				padding: rem(4px 3px)
				margin: rem(2px) 0
		.label
			background-color: transparent
			display: block
			position: absolute
			left: 0
			top: rem(110px)
			width: rem(100px)
			text-transform: uppercase
			text-align: center
	.date
		text-transform: uppercase
		font-size: rem(15px)
		color: #FFFFFF
		position: absolute
		left: 0
		top: 0px
		width: rem(100px) !important
		height: rem(100px) !important
		padding: rem(15px) !important
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column
		z-index: 2
		span
			font-size: rem(50px)
			font-weight: bold
			display: block
			line-height: 1
			text-align: center