themes = {
    card-css: #2aa9e0,
    card-js: #f1c40f,
    card-dev: #637a91,
    card-wp: #0087be,
    card-random: #c0392b,
}

for theme, category-color in themes
	.{theme}
		.card-body
			.date
				background-color: category-color
				color: #FFFFFF
		&:after
			background: category-color
		.card-body
			> .label
				color category-color
			> .title
				color: category-color
			> .tags
				a
					border: 1px solid category-color
					color: category-color

		.header-page
			//background-color: #FFFFFF
			//.post-title,
			//.subtitle,
			.date
				color: category-color
			.date
				background-color: category-color
				color: #FFFFFF

		article
			> h1, > h2, > h3, > h4
				color: category-color
			ul
				li
					&:before
						content: "•"
						color: category-color
						position: absolute
						left: rem(-20px)
						font-size: rem(31px)
						top: rem(-10px)
		&.header-blog
			.logo
				//color: category-color
		&.btn-menu span
			//background-color: category-color
		&.side-menu
			border-color: category-color
			.menu-list li
				border-bottom: 1px solid category-color
			.title
				color: category-color
			a
				&:before
					color: category-color