<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{% if page.title %} {{ page.title }} - {{ site.title }} {% else %} {{ site.title }} - {{ site.sub-title }}  {% endif %}</title>
<link href="https://fonts.googleapis.com/css?family=Lato:700,900" rel="stylesheet">
<!-- All Compiled CSS -->
<link rel="stylesheet" href="{{ "/assets/css/application.css" | prepend: site.baseurl }}">
<!-- Chrome Theme Color -->
<meta name="theme-color" content="{% if page.nav-color %}{{ page.nav-color }}{% endif %}">
<!-- Canonical URL -->
<link rel="canonical" href="{{ site.url }}{{ page.url }}">


