.authorArea
    text-align: center
    width 100%
    margin-bottom: 90px
    color: #424242

.authorArea__item
    display: inline-block
    width: 100%

.authorArea__call  
    font-size: 25px

.authorArea__image 
    font-size: 20px
    max-width: 240px

.authorArea__title 
    font-size: 30px
    margin-top: 20px
    margin-bottom: 0px

.authorArea__subTitle 
    font-size: 25px
    margin-top: 0
    color: #737373
    margin-bottom: 15px

.authorArea__externalLink 
    font-size: 20px
    color: inherit
