.contentContainer
    max-width: 740px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;


.contentArea
    color: #424242;
    box-sizing: border-box;
    margin-bottom: 50px;
    h2
     font-size: 38px;
    h3 
     font-size: 30px;
    h4
     font-size: 22px;
    a 
        color: #ff6a00;
        word-wrap: break-word;
    p, li
        font-size: 18px;
        line-height: 1.7;
        letter-spacing: -.004em;
        font-weight: 400;
        color: #737373
        strong 
            font-weight: bold;
    .highlight
        margin: 40px 0
    // h1
    // h2
    // h3 
    // h4 
    // h5 
    // h6 
    // ul 
    //     li
    // ol 
    //     li
    blockquote 
        border-left: 4px solid #ff6a00
        padding-left: 20px;
        margin-left: 15px;
        margin-top 29px
        padding-top: 10px;
        padding-bottom: 10px;
        *:last-child
            margin-top: 0
            margin-bottom: 0
    img 
        width: auto;
        max-width: 100%;
        height: auto;
        margin: auto;
        display: block;


.contentArea__header
    display block
    text-align: center
    padding: 15px;

.contentArea__headerTitle
    font-size: 5vw;
    @media (max-width: $smallPoint)
        font-size: 7vw;