body {
    border-top: 4px solid #FF6A00; font-family: sans-serif;
    @media(max-width: 570px) {
        border-top: 0;    
    }
}
body:after {
    content: " "
    display: table
    clear: both
}

.circle {
    border-radius: 50%
}

.heart {
    color: red;
}

.hide {
    display: none !important;
}
