.postsGrid {
    list-style: none;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 85%;
    margin: auto;
}
.postsGrid__item {
    display: inline-block;
    flex: 1 0 400px;
    margin: 15px;
}
@media (max-width: 500px) {
    .postsGrid__item {
        flex: 1 0 300px;
        max-width: 100%;
    }
}
