.shareArea
    position relative
    margin: 70px auto
    color: #424242;
    padding: 50px 0;
    margin-bottom: 25px
    &:before
        content: " "
        display: block;
        position absolute
        top: 0px
        left 0
        right 0
        margin: auto
        height: 4px
        width: 40%;
        background: #FF6A00;

.shareArea__title
    text-align: center;
    font-size: 25px;



.shareArea__list
    list-style: none
    padding: 0;
    text-align: center
    margin-bottom: 0

.shareArea__listItem
    display inline-block

.shareArea__listLink
    display block
    padding 10px
    transition: .3s
    color: #FF6A00
    &:hover 
        opacity: .5


.shareArea__listIcon
    width: 30px
    height: 30px
    fill: currentColor