.socialLinks {
    padding: 0;
    text-align: center;
}

.socialLinks__item {
    display: inline-block;
    margin: 5px;
}
.socialLinks__link {
    display: block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #42474f;
    color: white;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: .3s;
}
.socialLinks__link:hover {
    opacity: .5;
}
.socialLinks__icon {
    width: 16px;
    height: 16px;
    fill: currentColor;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}