article {
  position: relative;
  padding: 8rem 0;
}
article a {
  color: #ff6a00;
}
article:not(:first-child):before {
  content: '';
  width: 150px;
  height: 1px;
  background-color: #e0e0e0;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -75px;
}
article blockquote {
  margin: 6rem 2rem;
  padding-left: 15px;
  line-height: 2rem;
  border-left: 4px solid #ff6a00;
}
article .article-title {
  position: relative;
  color: #212121;
  font-size: 2.4rem;
  line-height: 1.3;
  text-align: center;
  margin: 0;
  padding: 0 2rem;
}
article .article-title a {
  display: block;
  color: #212121;
}
article .article-title a span {
  padding-bottom: 3px;
  -webkit-transition: 0.15s;
  transition: 0.15s;
  box-shadow: inset 0 -2px 0 rgba(240,56,56,0);
}
article .article-title a:hover {
  color: #212121;
}
article .article-title a:hover span {
  box-shadow: inset 0 -2px 0 rgba(240,56,56,0.4);
}
article .article-top-meta {
  position: relative;
  color: #9e9e9e;
  font-size: 1.3rem;
  text-align: center;
  margin: 1rem 0;
}
article .article-top-meta span {
  margin: 0 0.5rem;
}
article .article-top-meta a {
  color: #9e9e9e;
}
article .article-top-meta a:hover {
  color: #ff6a00;
}
article .article-top-meta a time {
  font-style: italic;
}
article .article-excerpt,
article .article-content,
article .featured-media {
  margin: 4rem 0;
  font-size: 1.6rem;
  color: #424242;
}
article .article-excerpt img,
article .article-content img,
article .featured-media img {
  max-width: 100%;
  height: auto;
  margin: 1rem auto;
}
article .article-footer .pull-left {
  float: left;
}
article .article-footer .pull-right {
  float: right;
}
article .article-footer:after {
  content: " ";
  display: block;
  clear: both;
}
article .article-footer .article-meta > span:not(:last-child) {
  margin-right: 3rem;
}
article .article-footer .article-meta > span {
  display: inline-block;
}
article .article-footer .article-meta > span > span {
  line-height: 1;
  vertical-align: middle;
}
article .article-footer .article-meta {
  font-size: 1.3rem;
  color: #9e9e9e;
}
article .article-footer .article-meta a {
  color: #9e9e9e;
}
article .article-footer .article-meta a:hover {
  color: #ff6a00;
}
article .article-footer .article-meta i {
  vertical-align: middle;
  color: #9e9e9e;
  margin-right: 0.5rem;
}
article .article-footer .post-tags a:before {
  content: "#";
}
article .article-footer .post-tags a:not(:last-of-type):after {
  content: ",";
  padding-right: 5px;
}
article code {
  padding: 2px 4px;
  margin-left: 2px;
  margin-right: 2px;
  color: #c7254e;
  white-space: normal;
  border-radius: 0;
}
article p {
  margin: 2rem 0;
  line-height: 1.8;
}
article .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}
article .video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
article table {
  max-width: 100%;
  width: 100%;
}
article table caption {
  padding: 5px;
  color: #333;
  background-color: #e5e5e5;
}
article table th,
article table td {
  text-align: left;
  padding: 0.6em;
  vertical-align: top;
}
article table th {
  vertical-align: bottom;
  border-bottom: 1px solid #e5e5e5;
}
article table tbody + tbody {
  border-top: 2px solid #e5e5e5;
}
article table .table {
  background-color: #fff;
}
article table .table-bordered {
  border: 1px solid #e5e5e5;
}
article table .table-striped tbody tr:nth-of-type(odd) {
  background-color: #f2f2f2;
}
