footer.site-footer {
  position: relative;
  text-align: center;
  line-height: 1.8;
  padding-top: 1rem;
  color: #9e9e9e;
}
footer.site-footer a {
  color: #ff6a00;
}
footer.site-footer .site-info {
  color: #9e9e9e;
  font-size: 1.3rem;
  margin: 0.5rem 0;
}
