header {
  line-height: 1.8rem;
}
header .site-title {
  position: relative;
  overflow: hidden;
}
header .logo-site {
  width: 120px;
}
header .text-hide {
  position: absolute;
  left: -1000px;
/* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-ident: -99999px;
}
header .site-branding {
  text-align: center;
  margin-bottom: 2rem;
  font-family: "Open Sans", arial, sans-serif;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
header .site-branding .site-title {
  margin: 0;
  font-size: 1.4rem;
}
header .site-branding .site-title a {
  display: inline-block;
  color: #fff;
  font-weight: bolder;
  line-height: 3rem;
  padding: 0 1rem;
  -webkit-transition: padding 0.3s ease-out;
  transition: padding 0.3s ease-out;
}
header .site-branding .site-description {
  color: #9e9e9e;
  font-size: 1.3rem;
  margin: 1rem 0 0;
}
header .site-navigation {
  text-align: center;
}
header .site-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.6em;
}
header .site-navigation ul li {
  display: inline-block;
  margin: 0 0.5rem;
}
header .site-navigation ul li a {
  display: block;
  color: #ff6a00;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 1rem;
}
