.pagination {
  position: relative;
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.pagination .pagination-prev,
.pagination .pagination-next {
  color: #ff6a00;
  font-size: 1.6rem;
  border: 1px solid #e0e0e0;
  line-height: 30px;
  height: 32px;
  padding: 0 20px;
  border-radius: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
.pagination .pagination-prev:hover,
.pagination .pagination-next:hover {
  color: #fff;
  background-color: #ff6a00;
  border-color: #ff6a00;
}
