<div class="hide">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <symbol id="video-retangle" preserveAspectRatio="xMidYMid meet" viewBox="0 0 52 58">
        <path d="M41 0h11v47H41V0zM0 47h52v11H0V47z"></path>
    </symbol>
    <symbol id="icon-close" preserveAspectRatio="xMidYMid meet" viewBox="0 0 18 18">
        <path
            d="M2.3.4L17.6 16c.4.4.4 1.1 0 1.6-.4.4-1.1.4-1.5 0L.8 1.9C.4 1.5.4.8.8.3c.4-.4 1.1-.4 1.5.1 0-.1 0-.1 0 0zM17.2.3l.1.1c.4.4.4 1.1 0 1.6L1.9 17.6c-.4.4-1.1.4-1.5 0l-.1-.1c-.4-.4-.4-1.1 0-1.6L15.6.3c.5-.4 1.1-.4 1.6 0z">
        </path>
    </symbol>
    <symbol id="search-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 17.031 17.032">
        <path class="cls-1"
            d="M49.708,829.365h-0.77l-0.273-.263a6.351,6.351,0,1,0-.682.682l0.263,0.273v0.77l4.874,4.865,1.453-1.453Zm-5.849,0a4.387,4.387,0,1,1,4.387-4.387A4.381,4.381,0,0,1,43.859,829.365Z"
            transform="translate(-37.531 -818.656)"></path>
    </symbol>
    <symbol id="arrow-strong-down" preserveAspectRatio="xMidYMid meet" viewBox="0 0 23.3 14.4">
        <path class="st0" d="M.048 3.115L2.876.287l11.312 11.315-2.828 2.828z"></path>
        <path class="st0" d="M8.767 11.36L20.077.043l2.83 2.828-11.31 11.318z"></path>
    </symbol>
    <symbol id="arrow-left" preserveAspectRatio="xMidYMid meet" viewBox="0 0 4.969 8.5">
        <path data-name="Rectangle 9 copy 6" class="cls-1"
            d="M.72.007L4.96 4.25l-.707.707L.012.714zm3.535 3.535l.707.708L.72 8.492.01 7.785z"></path>
    </symbol>
    <symbol id="share-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 12 13">
        <path class="st0"
            d="M10 9.2c-.5 0-1 .2-1.3.5L3.9 7c.1-.2.1-.3.1-.5s0-.3-.1-.5l4.7-2.7c.4.4.9.6 1.4.6 1.1 0 2-.9 2-2s-.9-2-2-2C8.9 0 8 .9 8 2c0 .2 0 .3.1.5L3.4 5.1c-.4-.3-.9-.5-1.4-.5-1.1 0-2 .9-2 2s.9 2 2 2c.5 0 1-.2 1.4-.5l4.7 2.7c0 .1-.1.3-.1.4 0 1.1.9 1.9 1.9 1.9 1.1 0 1.9-.9 1.9-1.9s-.7-2-1.8-2z">
        </path>
    </symbol>
    <symbol id="instagram-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
        <path
            d="M256 49.5c67.3 0 75.2.3 101.8 1.5 24.6 1.1 37.9 5.2 46.8 8.7 11.8 4.6 20.2 10 29 18.8s14.3 17.2 18.8 29c3.4 8.9 7.6 22.2 8.7 46.8 1.2 26.6 1.5 34.5 1.5 101.8s-.3 75.2-1.5 101.8c-1.1 24.6-5.2 37.9-8.7 46.8-4.6 11.8-10 20.2-18.8 29s-17.2 14.3-29 18.8c-8.9 3.4-22.2 7.6-46.8 8.7-26.6 1.2-34.5 1.5-101.8 1.5s-75.2-.3-101.8-1.5c-24.6-1.1-37.9-5.2-46.8-8.7-11.8-4.6-20.2-10-29-18.8s-14.3-17.2-18.8-29c-3.4-8.9-7.6-22.2-8.7-46.8-1.2-26.6-1.5-34.5-1.5-101.8s.3-75.2 1.5-101.8c1.1-24.6 5.2-37.9 8.7-46.8 4.6-11.8 10-20.2 18.8-29s17.2-14.3 29-18.8c8.9-3.4 22.2-7.6 46.8-8.7 26.6-1.3 34.5-1.5 101.8-1.5m0-45.4c-68.4 0-77 .3-103.9 1.5C125.3 6.8 107 11.1 91 17.3c-16.6 6.4-30.6 15.1-44.6 29.1-14 14-22.6 28.1-29.1 44.6-6.2 16-10.5 34.3-11.7 61.2C4.4 179 4.1 187.6 4.1 256s.3 77 1.5 103.9c1.2 26.8 5.5 45.1 11.7 61.2 6.4 16.6 15.1 30.6 29.1 44.6 14 14 28.1 22.6 44.6 29.1 16 6.2 34.3 10.5 61.2 11.7 26.9 1.2 35.4 1.5 103.9 1.5s77-.3 103.9-1.5c26.8-1.2 45.1-5.5 61.2-11.7 16.6-6.4 30.6-15.1 44.6-29.1 14-14 22.6-28.1 29.1-44.6 6.2-16 10.5-34.3 11.7-61.2 1.2-26.9 1.5-35.4 1.5-103.9s-.3-77-1.5-103.9c-1.2-26.8-5.5-45.1-11.7-61.2-6.4-16.6-15.1-30.6-29.1-44.6-14-14-28.1-22.6-44.6-29.1-16-6.2-34.3-10.5-61.2-11.7-27-1.1-35.6-1.4-104-1.4z">
        </path>
        <path
            d="M256 126.6c-71.4 0-129.4 57.9-129.4 129.4s58 129.4 129.4 129.4 129.4-58 129.4-129.4-58-129.4-129.4-129.4zm0 213.4c-46.4 0-84-37.6-84-84s37.6-84 84-84 84 37.6 84 84-37.6 84-84 84z">
        </path>
        <circle cx="390.5" cy="121.5" r="30.2"></circle>
    </symbol>
    <symbol id="youtube-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 96.875 96.875">
        <path
            d="M95.2 25.538c-1.185-5.152-5.4-8.953-10.472-9.52-12.013-1.34-24.172-1.348-36.275-1.34-12.105-.008-24.266 0-36.28 1.34-5.07.567-9.28 4.368-10.466 9.52C.02 32.875 0 40.884 0 48.438 0 55.992 0 64 1.688 71.336c1.184 5.15 5.396 8.952 10.47 9.52 12.01 1.342 24.17 1.35 36.276 1.342 12.107.007 24.264 0 36.275-1.342 5.07-.567 9.284-4.368 10.47-9.52C96.87 64 96.875 55.99 96.875 48.438c0-7.554.014-15.563-1.674-22.9zM35.937 63.474V31.437l30.798 16.068c-10.3 5.342-20.504 10.63-30.798 15.97z">
        </path>
    </symbol>
    <symbol id="linkedin-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 430.117 430.117">
        <path
            d="M430.117 261.543V420.56H337.93V272.193c0-37.27-13.335-62.707-46.704-62.707-25.473 0-40.632 17.142-47.3 33.724-2.433 5.928-3.06 14.18-3.06 22.477V420.56H148.65s1.242-251.285 0-277.32h92.21v39.31c-.187.293-.43.61-.606.895h.606v-.896c12.25-18.87 34.13-45.825 83.102-45.825 60.673 0 106.157 39.636 106.157 124.818zM52.183 9.558C20.635 9.558 0 30.25 0 57.463c0 26.62 20.038 47.94 50.96 47.94h.615c32.16 0 52.16-21.317 52.16-47.94-.607-27.212-20-47.905-51.552-47.905zM5.477 420.56H97.66V143.24H5.478v277.32z">
        </path>
    </symbol>
    <symbol id="gplus-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 13.7 13.8">
        <path class="st0"
            d="M6.6.7c.1 0 .2.1.4.3.1.1.3.3.4.5.1.2.2.4.3.7.1.3.1.6.1.9 0 .6-.2 1.2-.4 1.6-.1.2-.3.3-.4.5-.2.1-.4.3-.6.5-.1.1-.2.2-.3.4-.1.1-.1.3-.1.5s0 .3.1.4l.3.3.6.6c.4.3.7.7 1 1 .3.4.4.9.4 1.5 0 .9-.4 1.7-1.2 2.3-.8.7-2 1.1-3.5 1.1-1.3 0-2.2-.3-2.8-.8-.6-.5-.9-1.1-.9-1.8 0-.3.1-.7.3-1.1.2-.4.6-.8 1.1-1.1.6-.3 1.2-.5 1.8-.7.6-.1 1.2-.1 1.6-.2-.1-.1-.2-.3-.3-.5-.1-.2-.2-.4-.2-.6 0-.2 0-.3.1-.4 0-.1.1-.2.1-.3h-.6c-1 0-1.7-.3-2.2-.9-.5-.6-.8-1.2-.8-2 0-.9.4-1.7 1.1-2.4C2.5.6 3.1.3 3.6.2 4.2.1 4.7 0 5.2 0h3.6L7.7.7H6.6zm.7 10.4c0-.5-.1-.9-.5-1.2-.3-.3-.8-.7-1.5-1.2H4.2c-.4.1-.7.2-1.1.3-.1 0-.3.1-.4.1-.2.1-.4.2-.5.4-.2.1-.3.3-.5.5-.1.2-.2.5-.2.8 0 .6.3 1.2.9 1.6.6.4 1.3.6 2.3.7.9 0 1.5-.2 2-.6.4-.4.6-.8.6-1.4zM4.7 5.8c.5 0 .9-.2 1.2-.5.2-.3.3-.5.3-.7V4c0-.7-.2-1.4-.5-2.2-.1-.4-.4-.7-.6-.9-.3-.2-.6-.3-1-.3-.5 0-.9.2-1.2.6-.3.4-.5.8-.5 1.3 0 .7.2 1.3.6 2 .2.3.4.6.7.8.3.4.7.5 1 .5zM13.7 2h-1.9V.1h-.9V2H9v.9h1.9v1.9h.9V2.9h1.9V2z">
        </path>
    </symbol>
    <symbol id="facebook-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512">
        <path
            d="M296.296 512H200.36V256h-64v-88.225l64-.03-.104-51.975C200.256 43.794 219.773 0 304.556 0h70.588v88.242H331.03c-33.017 0-34.605 12.328-34.605 35.342l-.13 44.162h79.345l-9.354 88.225-69.926.03-.064 256z">
        </path>
    </symbol>
    <symbol id="twitter-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 56.693 56.693">
        <path
            d="M52.837 15.065c-1.81.805-3.76 1.348-5.805 1.59 2.088-1.25 3.69-3.23 4.444-5.59-1.953 1.158-4.115 2-6.418 2.453-1.843-1.964-4.47-3.192-7.377-3.192-5.58 0-10.105 4.525-10.105 10.107 0 .79.09 1.562.262 2.303-8.4-.422-15.848-4.445-20.833-10.56-.87 1.492-1.368 3.228-1.368 5.082 0 3.506 1.784 6.6 4.496 8.412-1.656-.053-3.215-.508-4.578-1.265v.128c0 4.896 3.483 8.98 8.107 9.91-.847.23-1.74.354-2.662.354-.652 0-1.285-.063-1.902-.182 1.287 4.015 5.02 6.938 9.44 7.02-3.458 2.71-7.815 4.326-12.55 4.326-.816 0-1.62-.047-2.412-.14 4.474 2.868 9.786 4.54 15.493 4.54 18.59 0 28.756-15.4 28.756-28.756 0-.438-.01-.875-.028-1.31 1.974-1.42 3.688-3.202 5.042-5.23z">
        </path>
    </symbol>
    <symbol id="medium-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 56.693 56.693">
        <path d="M336.5 240.2v641.5c0 9.1-2.3 16.9-6.8 23.2s-11.2 9.6-20 9.6c-6.2 0-12.2-1.5-18-4.4L37.3 782.7c-7.7-3.6-14.1-9.8-19.4-18.3S10 747.4 10 739V115.5c0-7.3 1.8-13.5 5.5-18.6 3.6-5.1 8.9-7.7 15.9-7.7 5.1 0 13.1 2.7 24.1 8.2l279.5 140c.9 1.2 1.5 2.1 1.5 2.8zm35 55.3l292 473.6-292-145.5V295.5zm618.5 9.8v576.4c0 9.1-2.6 16.5-7.7 22.1-5.1 5.7-12 8.5-20.8 8.5s-17.3-2.4-25.7-7.1L694.7 784.9 990 305.3zm-1.6-65.6c0 1.1-46.8 77.6-140.3 229.4C754.6 621 699.8 709.8 683.8 735.7L470.5 389l177.2-288.2c6.2-10.2 15.7-15.3 28.4-15.3 5.1 0 9.8 1.1 14.2 3.3l295.9 147.7c1.4.6 2.2 1.7 2.2 3.2z"/>
    </svg>
</svg>
</div>
