.page-footer
	background: #28282b
	width: 100%
	padding: 1.563rem 0
	> .text
		color: #FFFFFF
		font-family: 'Lato', sans-serif
		text-align: center
		margin: 0
		.love
			color: #e74c3c
		.codded
			color: #7f8c8d


