---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-BR">
<head>
     {% include head.html %}
</head>
<body>

    {% include header.html %}

<main>
	<header class="header-page image" style="background-image: url(assets/img/bg-home-mario-souto.jpg);" role="banner">
		<div class="content">
			<h1 class="post-title glitch-title" data-text="{{ page.title }}" itemprop="name">{{ page.title }}</h1>
			<p itemprop="description" class="subtitle">{{ page.introduction }}</p>
		</div>
	</header>

    {{content}}


</main>

    {% include footer.html %}
</body>
</html>